// Vuetify Card Variables
//
// https://github.com/vuetifyjs/vuetify/blob/master/packages/vuetify/src/components/VCard/_variables.scss

$card-title-word-break: break-word;
$card-title-line-height: 1.6rem;
$card-title-font-size: 1.35rem;
$card-title-font-weight: 700;

$card-text-font-size: 1rem;
